@import "./variables.css";

.product {
  display: flex;
  justify-content: center;
  width: 100%;
}
.product ul {
  flex-wrap: wrap;
  width: 760px;
}
.product ul li {
  position: relative;
  margin: 0 20px;
}
.product ul li div {
  text-align: center;
  line-height: 20px;
}
.product ul li div p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.product img {
  width: 115px;
  height: 115px;
}

.product_detail_wrap {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 150px;
}
.product_detail {
  display: flex;
  margin-top: 70px;
}
.product_detail h1 {
  display: block;
  height: 65px;
  border-bottom: 1px solid black;
  font-size: 35px;
  font-weight: bold;
}
.product_detail span {
  font-size: 15px;
}
.product_detail_img {
  margin-right: 70px;
}
.product_info table {
  border-bottom: 1px solid black;
  margin: 20px 0 20px 0;
}
.product_info tr th {
  text-align: left;
  padding-right: 70px;
  font-weight: bold;
}
.product_info tr th,
.product_info tr td {
  padding-bottom: 20px;
}
.product_quantity_form p {
  text-align: left;
  margin-bottom: 20px;
}

.product_quantity {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 0 20px 39px;
  border-bottom: 1px solid black;
}
.product_quantity input[type="text"] {
  text-align: center;
  box-sizing: border-box;
  width: 44px;
  height: 35px;
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 3px;
}
.product_quantity_btn {
  position: absolute;
}
.product_quantity_price {
  margin-right: 3px;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 18px;
}
.product_additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.product_additional select {
  width: 200px;
}
.member_request {
  display: flex;
  justify-content: space-between;
}
.member_request textarea {
  box-sizing: border-box;
  outline: none;
  resize: none;
  width: 200px;
  height: 80px;
  border-radius: 3px;
}
.product_quantity_submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.product_quantity_submit .submit_btn {
  width: 110px;
  height: 45px;
}
.product_detail_main > li {
  margin-bottom: 50px;
  float: none;
}
.product_detail_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.product_detail_list ul li.active {
  border-bottom: 2px solid var(--mainColor);
}
.product_detail_list ul {
  width: 1000px;
}
.product_detail_list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 50px;
  width: 33%;
  border-bottom: 1px solid var(--grayLine);
}
.product_detail_list ul li:after {
  content: "";
  height: 40px;
  width: 1px;
  border-right: 1px solid var(--grayLine);
}
.product_detail_list ul li:last-child:after {
  border-right: none;
}
.product_detail_list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.product_detail_content_wrap {
  display: flex;
  justify-content: center;
}
.product_detail_content {
  width: 800px;
}
.product_detail_content ul {
  margin-bottom: 30px;
}
.product_detail_content ul li {
  float: none;
}
.product_detail_content h1 {
  font-size: 20px;
  margin-bottom: 7px;
}
.product_detail_content p {
  font-size: 16px;
  margin-bottom: 7px;
}

#member_cart_page {
  display: flex;
  position: relative;
}
.member_cart input[type="text"] {
  text-align: center;
  width: 30px;
  height: 32px;
  border: 1px solid var(--grayLine);
  border-radius: 3px;
}
.member_cart_wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.member_cart {
  text-align: center;
}
.member_cart thead {
  border-bottom: 1px solid var(--grayLine);
}
.member_cart th,
.member_cart td {
  vertical-align: middle;
  width: 150px;
  height: 60px;
  font-size: 17px;
}
.member_cart td {
  padding: 15px 0;
}
.member_cart tr {
  border-bottom: 1px solid var(--grayLine);
}
.member_cart_image img {
  background-color: gray;
  width: 80px;
}
.member_cart_quantity_btn {
  position: absolute;
  top: 0;
  right: 39px;
}
.member_cart_form {
  position: relative;
}
.member_cart_delete img {
  width: 15px;
}
.member_cart_order_wrap {
  position: absolute;
  color: white;
  background-color: var(--mainColor);
  height: 100vh;
  width: 350px;
  top: 0;
  right: 0;
  border-right: 1px solid var(--grayLine);
  font-size: 17px;
}
.member_cart_order {
  width: 250px;
  margin-bottom: 371px;
}
.member_cart_order h1 {
  margin-bottom: 30px;
  font-size: 21px;
}
.member_cart_order div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.member_cart_order_total {
  border-top: 1px solid var(--grayLine);
  padding-top: 25px;
  font-weight: bold;
}
.member_cart_order .btn_wrap {
  display: flex;
  justify-content: flex-end;
}
.member_cart_order .btn {
  height: 65px;
  width: 130px;
  border: 1px solid var(--grayLine);
  border-radius: 15px;
}

#member_mypage_page {
  min-height: 545px;
}
.member_mypage_wrap td {
  border: 1px solid var(--mainColor);
  width: 250px;
  height: 110px;
}
.member_mypage_wrap td > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  line-height: 17px;
  font-weight: 500;
  font-size: 20px;
}
.member_mypage_wrap td > a > p {
  margin-top: 20px;
  color: #666;
  font-size: 13px;
  font-weight: initial;
}

#member_profile_page #member_id {
  border: 1px solid var(--grayLine);
}
#member_history_page .submit_btn {
  width: 65px;
  height: 35px;
  margin-left: 10px;
  font-size: 14px;
}

.member_terms_wrap {
  margin-bottom: 30px;
}
.member_terms {
  display: inline-block;
  border: 1px solid var(--grayLine);
  padding: 50px 100px;
  background-color: #FCFCFC;
}
.member_terms_textarea {
  padding: 0 50px;
}
.member_terms > p:first-child {
  font-size: 18px;
  font-weight: bold;
}
.member_terms p {
  padding: 20px 0;
  vertical-align: center;
}
.member_terms textarea {
  outline: none;
  resize: none;
  width: 800px;
  height: 300px;
  border: 2px solid var(--grayLine);
}
.member_terms input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-left: 0;
}
.member_terms_button {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 0 50px;
}
.member_terms_button input[type="submit"] {
  width: 120px;
  height: 50px;
  margin-bottom: 50px;
}

.terms {
  width: 1200px;
  border: 2px solid var(--grayLine);
}
.terms_textarea {
  padding: 10px;
}
.terms_textarea p {
  margin: 10px;
  font-size: 13px;
  line-height: 15px;
}
.terms_textarea table {
  width: 100%;
  margin: 30px 0;
}
.terms_textarea table p {
  margin: 0;
  font-size: 12px;
}
.terms_textarea th,
.terms_textarea td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid var(--grayLine);
  line-height: 15px;
}
.terms_textarea span,
.terms_textarea th,
.terms_textarea td {
  font-weight: 400;
  font-size: 12px;
}
