@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "./animations/keyframes.css";
@import "variables.css";

.fade_in {
  animation: fadeIn 0.5s linear forwards;
}
.fade_out {
  animation: fadeOut 0.5s linear forwards;
}
.sold_out {
  background-color: rgba(131, 131, 131, 100);
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 25px;
}
a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}
li {
  float: left;
}
main {
  min-height: 100vh;
  margin-top: 155px;
}

input:focus {
  outline: none;
}

.member_cart_page_wrap,
.member_profile_page_wrap {
  width: 100%;
}
#member_profile_page .page_head,
#member_mypage_page .page_head,
#product_page .page_head {
  margin-top: 200px;
}
.page_head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 40px 0;
}

.signin,
.signup,
.submit {
  display: flex;
  justify-content: flex-end;
}
.signup {
  width: 100%;
  margin-top: 10px;
}
.btn,
.submit_btn,
.input_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: 2px solid var(--mainColor);
  border-radius: 4px;
  background-color: initial;
  color: black;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
}
.submit_btn,
.btn {
  background-color: var(--mainColor);
  color: white;
}
.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}
.input_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.left_btn,
.right_btn {
  position: absolute;
  width: 40px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  height: 35px;
  border-radius: 4px;
  border: 1px solid var(--grayLine);
  background-color: white;
}
.left_btn {
  left: -38px;
}
.right_btn {
  left: 42px;
}
.up_btn,
.down_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid var(--grayLine);
  background-color: white;
  cursor: pointer;
}
.down_btn {
  border-top: none;
}

.background-fadeout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_slider,
.slider,
.main_premium_product,
.da_footer {
  display: flex;
  width: 100%;
}
.arrow {
  width: 100%;
  position: relative;
  top: 240px;
}
.arrow a img {
  width: 50px;
  height: 75px;
  opacity: 0.3;
}
.prev,
.next {
  position: absolute;
  font-size: 80px;
}
.prev {
  left: -650px;
}
.next {
  left: 650px;
}