footer {
  background-color: var(--mainColor);
  border-right: 1px solid var(--grayLine);
}
.da_footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer div {
  height: 100%;
}
footer ul {
  margin-top: 25px;
}
footer li {
  float: none;
  margin-bottom: 10px;
}
footer p,
footer span {
  color: white;
  margin-left: 20px;
  font-size: 13px;
}
footer a {
  color: white;
  font-size: 13px;
}
.footer_anchor {
  padding: 25px 0;
  border-bottom: white 1px solid;
}
.footer_anchor a {
  font-size: 15px;
  font-weight: 600;
}
.copyright {
 margin-top: 25px;
}