@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "variables.css";

* {
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
}
main {
  margin: 200px 0 100px 0;
}
form,
.input_image_form_wrap {
  text-align: center;
}

input::file-selector-button {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
}

.input_image_wrap {
  margin-bottom: 25px;
}
.input_image,
.product_form ul {
  display: inline-block;
  width: auto;
}
.input_image {
  position: relative;
  width: 100%;
}
.input_image img {
  width: 282px;
}

.product_form ul li {
  text-align: right;
  margin-bottom: 20px;
  float: none;
}
.submit {
  display: inline-flex;
  width: 282px;
  justify-content: flex-end;
}

.btn,
.submit_btn,
.image_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: var(--mainColor);
  color: white;
  font-size: 14px;
}
.image_btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image_btn a {
  width: 80px;
}
.submit_btn {
  width: 90px;
  margin-right: 10px;
  cursor: pointer;
}
.btn a {
  color: white;
}
.input_image_form_wrap form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.input_image_form_wrap form input:first-child {
  margin-bottom: 60px;
}
