@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "variables.css";

form,
.input_image_form_wrap {
  text-align: center;
}

input::file-selector-button {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
}

.input_image_wrap {
  margin-bottom: 25px;
}
.input_image,
.product_form ul {
  display: inline-block;
  width: auto;
}
.input_image {
  position: relative;
}
.input_image img {
  width: 282px;
}
.image_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}
.image_wrap .input_btn {
  margin-top: 20px;
}

.product_form ul li {
  text-align: right;
  margin-bottom: 20px;
  float: none;
}
.btn,
.submit_btn,
.input_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: 2px solid var(--mainColor);
  background-color: initial;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.signin,
.signup,
.submit {
  display: flex;
  justify-content: flex-end;
}
.signup {
  width: 100%;
  margin-top: 10px;
}
.submit_btn,
.btn {
  background-color: var(--mainColor);
  color: white;
}
.btn {
  margin-left: 10px;
}
.btn a {
  color: white;
}
.input_btn a {
  width: 80px;
}

.input_image_form_wrap form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.input_image_form_wrap form input:first-child {
  margin-bottom: 60px;
}

.file_input_wrap{
  position: relative;
}
.file_input_wrap .input_btn {
  position: absolute;
  right: -90px;
  top: 0px;
}

.member_address_wrap,
.member_delivery_address_wrap {
  position: relative;
}
.member_address_button,
.member_delivery_address_button {
  position: absolute;
  right: -91px;
  top: 20px;
}
.member_address_button {
  top: 21px;
}
.member_signup_form_wrap,
.member_signin_form_wrap {
  display: flex;
  justify-content: center;
}
.member_signup_form input[type="text"],
.member_signup_form input[type="tel"],
.member_signup_form input[type="email"],
.member_signup_form input[type="password"],
.member_signin_form input[type="text"],
.member_signin_form input[type="password"] {
  width: 350px;
  height: 40px;
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  padding-left: 10px;
}
.member_signin_form input[type="text"],
.member_signin_form input[type="password"] {
  width: 200px;
}
.member_signup_form_info,
.member_signup_form_personal_info{
  border-top: 2px solid var(--mainColor);
  padding-top: 20px;
}
.member_signup_form > p {
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}
.member_signup_form th,
.member_signup_form td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.member_signin_form th,
.member_signin_form td {
  padding-top: 20px;
}
.member_signup_form tr {
  border-bottom: 1px solid rgba(51, 144, 255, 0.5);
}
.member_signup_form th {
  width: 185px;
  text-align: left;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(250, 250, 250, 1);
}
.member_signup_form td {
  padding-left: 30px;
}
.member_signup_form_personal_info tr:first-child td,
.member_signup_form_personal_info tr:nth-child(2) td {
  display: flex;
}
.member_signup_form_personal_info ul li {
  float: none;
  margin-bottom: 10px;
}
.member_signin_form th {
  text-align: left;
  padding-right: 20px;
}
.autologin_checkbox {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}