@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

li {
  float: left;
}

body {
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

header,
.hd_top,
.hd_gnb,
.hd_lnb {
  display: flex;
  width: 100%;
}

.hd_gnb,
.hd_lnb {
  border-bottom: #666 solid 1px;
}
header {
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 1px 8px #949494;
}

.hd_gnb {
  position: relative;
  height: 80px;
  align-items: center;
  justify-content: flex-end;
}
.hd_gnb figure {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
}
.hd_search {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.hd_search form {
  display: flex;
  align-items: center;
  border-radius: 13px;
  background-color: #0069d8;
  height: 50px;
  width: 250px;
}
.hd_search input[type="text"] {
  height: 30px;
  width: 215px;
  border: none;
  background: none;
  z-index: 1;
  color: white;
  padding-left: 10px;
}
.search_icon {
  display: flex;
  position: relative;
  align-items: center;
}
.search_icon img {
  position: absolute;
  right: 8px;
  width: 20px;
}
.hd_menu {
  margin-right: 100px;
}
.hd_menu ul li {
  margin-right: 10px;
}
.hd_menu ul li a {
  font-size: 13px;
}

.hd_lnb {
  height: 50px;
  align-items: center;
  justify-content: center;
}
.hd_lnb_menu {
  margin-right: 30px;
}
.hd_lnb_list ul li {
  margin-right: 30px;
}
.hd_lnb_list ul li a {
  font-size: 15px;
}
