@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import "keyframes.css";
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  color: #666;
  text-decoration: none;
}
li {
  float: left;
}

input:focus {
  outline: none;
}
.fade_in {
  animation: fadeIn 0.5s linear forwards;
}
.fade_out {
  animation: fadeOut 0.5s linear forwards;
}
.sold_out {
  background-color: rgba(131, 131, 131, 100);
}

.main_slider,
.slider,
.main_premium_product,
.dc_footer {
  display: flex;
  width: 100%;
}

main {
  margin-top: 190px;
}
.main_slider_wrap {
  height: 648px;
  margin-bottom: 115px;
}
.slider {
  transition: 0.5s;
}
.slider li img {
  position: absolute;
  vertical-align: top;
}
.arrow {
  width: 100%;
  position: relative;
  top: 240px;
}
.prev,
.next {
  position: absolute;
  font-size: 80px;
}
.prev {
  left: -350px;
}
.next {
  left: 350px;
}
.main_product {
  margin-top: 100px;
  height: 1000px;
}
.main_product h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.main_premium_product {
  justify-content: center;
}
.main_premium_product ul li {
  margin-right: 50px;
  border: black solid 1px;
  justify-content: flex-start;
}
.main_premium_product ul li p {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}
footer {
  background-color: #0069d8;
  height: 200px;
}
footer div {
  height: 100%;
  align-items: center;
}
footer li {
  float: none;
  margin-bottom: 10px;
}
footer p {
  font-size: 13px;
  color: white;
  margin-left: 20px;
}
