<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{adminLayout}">
  <body layout:fragment="content">
    <main id="admin_page">
      <div class="admin_page_wrap">
        <div class="page_head">
          <a th:href="@{/admin/orderHistory}">
            <h1>주문 기록</h1>
          </a>
        </div>
        <div class="excel_download">
          <a th:href="@{/admin/excelHistoryDownload}">주문기록 엑셀 다운로드</a>
        </div>
        <div class="search_form_wrap center">
          <div class="inline_wrap">
            <form class="search_form" th:action="@{/admin/historySearch}" method="post" style="max-height: 70px;">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <div>
                <label for="datepickerStart">시작일</label>
                <input type="text" name="startDate" id="datepickerStart" class="datepicker" th:value="${startDate}" />
                <img th:src="@{/image/calendar.png}" style="position: absolute; width: 17px; left: 219px; top: 3px;" class="datepickerStartButton" />
                <label for="datepickerEnd">종료일</label>
                <input type="text" name="endDate" id="datepickerEnd" class="datepicker" th:value="${endDate}" />
                <img th:src="@{/image/calendar.png}" style="position: absolute; width: 17px; right: 4px; top: 3px;" class="datepickerEndButton" />
              </div>
              <div>
                <label for="orderId">주문번호</label>
                <input type="text" id="orderId" name="orderId" th:value="${orderId}" />
                <label for="memberId">아이디</label>
                <input type="text" id="memberId" name="memberId" th:value="${memberId}" />
              </div>
            </form>
            <div class="collapse" th:onclick="'expand(this)'">
              <img th:src="@{/image/down-arrow.png}" alt="" />
            </div>
          </div>
        </div>
        <div class="btn_wrap center">
          <div class="btn">
            <a th:onclick="'submit()'">검색</a>
          </div>
        </div>
        <div class="list">
          <ul class="center">
            <div th:if="${memberTier != 9}">
              <p>권한이 부족합니다.</p>
            </div>
            <div th:if="${memberTier == 9 and historyCount == 0}">
              <p>기록을 찾을 수 없습니다.</p>
            </div>
            <div th:if="${memberTier == 9 and historyCount != 0}">
              <div th:if="${historySearchCount != 0 or historyCount != 0}">
                <form th:action="@{/admin/orderHistoryPro}" method="post" id="orderByForm">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                  <input id="columnName" type="hidden" name="columnName" th:value="${columnName}" />
                  <input id="orderBy" type="hidden" name="orderBy" th:value="${orderBy}" />
                </form>
                <table class="list">
                  <thead>
                  <tr>
                    <th class="history_code" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>주문번호</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="member_fran_code" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>가맹점코드</span>
                      </div>
                    </th>
                    <th class="member_name" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>이름</span>
                      </div>
                    </th>
                    <th class="member_company_name" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>업체명</span>
                      </div>
                    </th>
                    <th class="product_code" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>제품코드</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="product_name" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>제품명</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="product_price" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>제품가격</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="quantity" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>수량</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="product_price" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>제품합가격</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="delivery_address" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>배송지</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="order_date" th:onclick="'orderBy(this)'">
                      <div class="asc">
                        <span>주문일</span>
                        <img th:src="@{/image/down-arrow.png}" alt="" />
                      </div>
                    </th>
                    <th class="total_price">
                      <div class="asc">
                        <span>총합계</span>
                      </div>
                    </th>
                    <th class="history_modifier_name">
                      <div class="asc">
                        <span>수정자</span>
                      </div>
                    </th>
                    <th class="delivery_code">
                      <div class="asc">
                        <span>송장번호</span>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="h : ${list}">
                    <td>
                      <a th:href="@{/admin/orderHistoryUpdate(orderId=${h.orderId}, productCode=${h.productCode})}" target="_blank" th:text="${h.orderId}"></a>
                    </td>
                    <td><p th:text="${h.memberFranCode}"></p></td>
                    <td><p th:text="${h.memberName}"></p></td>
                    <td><p th:text="${h.memberCompanyName}"></p></td>
                    <td><p th:text="${h.productCode}"></p></td>
                    <td><p th:text="${h.productName}"></p></td>
                    <td><p th:text="${#numbers.formatInteger(h.productPrice, 3, 'COMMA')}"></p></td>
                    <td><p th:text="${h.quantity}"></p></td>
                    <td><p th:text="${#numbers.formatInteger(h.productPrice * h.quantity, 3, 'COMMA')}"></p></td>
                    <td>
                      <p th:text="${h.deliveryAddress}"></p>
                      <p th:text="${h.detailDeliveryAddress}"></p>
                    </td>
                    <td><p th:text="${h.orderDate}"></p></td>
                    <td><p th:text="${#numbers.formatInteger(h.totalPrice, 3, 'COMMA')}"></p></td>
                    <td><p th:text="${h.historyModifierName}"></p></td>
                    <td><p th:text="${h.deliveryCode}"></p></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div th:if="${historySearchCount == 0}">
                <p>검색결과를 찾을 수 없습니다.</p>
              </div>
            </div>
          </ul>
        </div>

        <div class="pagination_wrap center">
          <div class="pagination">
            <th:block th:if="${pageInt >= 3}">
              <a th:if="${searchText == null}" th:href="@{/admin/orderHistory(pageInt=${pageInt - 3})}">«</a>
              <a th:unless="${searchText == null}" th:href="@{/admin/historySearch(pageInt=${pageInt - 3}, searchText=${searchText})}">«</a>
            </th:block>
            <th:block th:if="${productSearchCount != 0 || productCount != 0}">
              <th:block th:each="p : ${#numbers.sequence(start, end)}">
                <a th:if="${searchText == null}" th:href="@{/admin/orderHistory(pageInt=${p})}" th:text="${p}"></a>
                <a th:unless="${searchText == null}" th:href="@{/admin/historySearch(pageInt=${p}, searchText=${searchText})}" th:text="${p}"></a>
              </th:block>
            </th:block>
            <th:block th:if="${pageInt < end - 3}">
              <a th:if="${searchText == null}" th:href="@{/admin/orderHistory(pageInt=${pageInt + 3})}">»</a>
              <a th:unless="${searchText == null}" th:href="@{/admin/historySearch(pageInt=${pageInt + 3}, searchText=${searchText})}">»</a>
            </th:block>
          </div>
        </div>
      </div>
    </main>
    <script>
      window.onload = function() {
        const columnNameInput = document.getElementById("columnName");
        const orderByInput = document.getElementById("orderBy");

        const columnNameInputValue = columnNameInput.value;
        const orderByInputValue = orderByInput.value;

        const columnNameElement = document.querySelector("." + columnNameInputValue).firstElementChild;
        const imgElement = columnNameElement.lastElementChild;

        if(orderByInputValue === "asc") {
          columnNameElement.className = "asc";
          imgElement.src = "${ pageContext.request.contextPath }/image/down-arrow.png";
        } else if(orderByInputValue === "desc") {
          columnNameElement.className = "desc";
          imgElement.src = "${ pageContext.request.contextPath }/image/up-arrow.png";
        }
      }

      function orderBy(object) {
        const columnName = object.className;
        const currentOrderBy = object.firstElementChild.className;
        const orderBy = (currentOrderBy === "asc") ? "desc" : "asc";
        const form = document.getElementById("orderByForm");

        form.querySelector('input[name="columnName"]').value = columnName;
        form.querySelector('input[name="orderBy"]').value = orderBy;

        form.submit();
      }
    </script>
    <script>
      function expand(object) {
        const form = document.querySelector(".search_form");
        const img = object.firstElementChild;
        const state = object.className;

        if(state === "collapse") {
          form.style.maxHeight = "200px";
          object.className = "expand";
          img.src = "${ pageContext.request.contextPath }/image/up-arrow.png";
        } else if(state === "expand") {
          form.style.maxHeight = "70px";
          object.className = "collapse";
          img.src = "${ pageContext.request.contextPath }/image/down-arrow.png";
        }
      }
      function submit() {
        const form = document.querySelector(".search_form");
        let $datepickerStart = $('#datepickerStart');
        let $datepickerEnd = $('#datepickerEnd');

        let startDate = $datepickerStart.val();
        let endDate = $datepickerEnd.val();

        if((startDate !== "" && endDate === "") || (endDate !== "" && startDate === "")) {
          alert("날짜를 한쪽에만 입력 할 수 없습니다.");
          return false;
        } else if(startDate !== "" && endDate !== "") {
          let startDateArr = startDate.split('-');
          let endDateArr = endDate.split('-');

          let startDateCompare = new Date(startDateArr[0], parseInt(startDateArr[1])-1, startDateArr[2]);
          let endDateCompare = new Date(endDateArr[0], parseInt(endDateArr[1])-1, endDateArr[2]);

          if(startDateCompare.getTime() > endDateCompare.getTime()) {
            alert("시작날짜가 종료날짜보다 앞설 수 없습니다.");
            return false;
          } else {
            form.submit();
            return true;
          }
        }
        form.submit();
        return true;
      }
    </script>
    <script src="${ pageContext.request.contextPath }/js/datepicker.js"></script>
    <script>
      let calendarPath = "${ pageContext.request.contextPath }/image/calendar.png";
    </script>
  </body>
</html>