<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{adminLayout}">
<head>
  <meta charset="UTF-8">
  <title>제품 수정</title>
  <!-- 제품 수정은 제품 리스트에서 제품 코드를 클릭하여 접속-->
</head>
<body layout:fragment="content">
<main>
  <div class="admin_page_wrap">
    <div class="page_head">
      <a th:href="@{/admin/productList}">
        <h1>제품 수정</h1>
      </a>
    </div>
    <form th:action="@{/admin/productUpdatePro}" method="post" enctype="multipart/form-data">
      <input name="existProductCode" type="text" th:value="${product.existProductCode}" hidden>
      <div class="product_form center">
        <ul>
          <li>
            <label>제품 종류 : </label>
            <select name="productType" class="product_type" required>
              <option value="0" th:selected="${product.productType == 0}">원두</option>
              <option value="1" th:selected="${product.productType == 1}">커피믹스</option>
              <option value="2" th:selected="${product.productType == 2}">카페용품</option>
            </select>
          </li>
          <li>
            <label>제품 코드 : </label>
            <input name="productCode" class="product_code" type="text" th:value="${product.productCode}" required />
          </li>
          <li>
            <label>제품명 : </label>
            <input name="productName" class="product_name" type="text" th:value="${product.productName}" required />
          </li>
          <li>
            <label>제품 가격 : </label>
            <input name="productPrice" class="product_price" type="text" th:value="${product.productPrice}" required
                   placeholder="숫자만 입력" oninput="numberInputCheck(this)" />
          </li>
          <li>
            <label>제품 단위 : </label>
            <input name="productUnit" class="product_unit" type="text" th:value="${product.productUnit}" required
                   placeholder="예) 1box / 800g * 12개입" />
          </li>
          <li>
            <label>제품 등급 : </label>
            <select name="productTier" class="product_tier" required>
              <option value="0" th:selected="${product.productTier == 0}">0 - 비활성화</option>
              <option value="1" th:selected="${product.productTier == 1}">1 - 임대고객(카페용품은 전부 등급 1)</option>
              <option value="2" th:selected="${product.productTier == 2}">2 - 비임대고객</option>
              <option value="3" th:selected="${product.productTier == 3}">3 - 카페고객</option>
            </select>
          </li>
          <li>
            <label>제품 품절 여부 : </label>
            <select name="productSoldOut" class="product_sold_out" required style="width: 193px">
              <option value="0" th:selected="${product.productSoldOut == 0}">0 - 품절 X</option>
              <option value="1" th:selected="${product.productSoldOut == 1}">1 - 품절 O</option>
            </select>
          </li>
          <div id="additional_fields"></div>
          <li>
            <label>제품 파일 : </label>
            <input name="files" class="file" type="file" multiple="multiple" />
          </li>
          <li>
            <div class="submit">
              <input type="submit" value="수정하기" class="submit_btn" />
            </div>
          </li>
        </ul>
      </div>
    </form>
  </div>
</main>

<script th:inline="javascript">
  window.onload = function() {
    // Thymeleaf에서 model의 값을 가져오고 아닌 경우 '' 공백을 가져옴
    let beanSpecies = /*[[${bean?.beanSpecies}]]*/ '';
    let beanCompany = /*[[${bean?.beanCompany}]]*/ '';
    let beanUseByDate = /*[[${bean?.beanUseByDate}]]*/ '';
    let beanCountry = /*[[${bean?.beanCountry}]]*/ '';
    let mixCompany = /*[[${mix?.mixCompany}]]*/ '';
    let mixUseByDate = /*[[${mix?.mixUseByDate}]]*/ '';

    function showHideForm() {
      let productType = document.querySelector(".product_type");
      let additionalFields = document.getElementById('additional_fields');

      additionalFields.innerHTML = '';
      if (productType.value === '0') { // 원두
        let additionalField = document.createElement('ul');
        additionalField.innerHTML =
          '<li>' +
          '<label>품종 : </label>' +
          '<input type="text" name="beanSpecies" value="' + beanSpecies + '" required />' +
          '</li>' +
          '<li>' +
          '<label>제조사 : </label>' +
          '<input type="text" name="beanCompany" value="' + beanCompany + '" required />' +
          '</li>' +
          '<li>' +
          '<label>소비기한 : </label>' +
          '<input type="text" name="beanUseByDate" value="' + beanUseByDate + '" required />' +
          '</li>' +
          '<li>' +
          '<label>원산지 : </label>' +
          '<input type="text" name="beanCountry" value="' + beanCountry + '" required />' +
          '</li>';

        additionalFields.appendChild(additionalField);
      } else if (productType.value === '1') { // 믹스커피
        let additionalField = document.createElement('ul');
        additionalField.innerHTML =
          '<li>' +
          '<label>제조사 : </label>' +
          '<input type="text" name="mixCompany" value="' + mixCompany + '" required />' +
          '</li>' +
          '<li>' +
          '<label>소비기한 : </label>' +
          '<input type="text" name="mixUseByDate" value="' + mixUseByDate + '" required />' +
          '</li>';

        additionalFields.appendChild(additionalField);
      }
    }

    document.querySelector(".product_type").addEventListener("change", showHideForm);
    showHideForm();
  }

  const numberRegex = /[^0-9]/g;

  function numberInputCheck(object) {
    const inputText = object.value;
    const numberInputCheck = inputText.replace(numberRegex, "");
    object.value = numberInputCheck;
  }
</script>
</body>
</html>