@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "variables.css";

a {
  text-decoration: none;
}
* {
  font-family: "Noto Sans KR", sans-serif;
}
form {
  text-align: center;
}
main form {
  margin-top: 50px;
}

.input_image_wrap {
  margin-bottom: 50px;
}
.input_image,
.product_form ul {
  display: inline-block;
  text-align: right;
  width: auto;
}
.input_image {
  position: relative;
  width: 282px;
}
.image_btn {
  position: absolute;
  left: 142px;
}
.product_form ul li {
  text-align: right;
  margin-bottom: 20px;
}
.submit {
  display: inline-flex;
  width: 282px;
  justify-content: flex-end;
}

.btn,
.submit_btn,
.image_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: var(--mainColor);
  color: white;
  font-size: 14px;
}
.image_btn {
  width: 80px;
  margin-top: 5px;
}
.image_btn a {
  color: white;
}
.submit_btn {
  width: 90px;
  margin-right: 10px;
}
.btn a {
  color: white;
}
