<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>

        <typeAlias type="model.Product" alias="product" />
        <typeAlias type="model.Member" alias="member" />
        <typeAlias type="model.CookieDTO" alias="cookie" />
        <typeAlias type="model.Cart" alias="cart" />
        <typeAlias type="model.History" alias="history" />

    </typeAliases>

    <mappers><!-- sql 구문 -->

        <mapper resource="mybatis/ProductMapper.xml"/>
        <mapper resource="mybatis/MemberMapper.xml"/>
        <mapper resource="mybatis/CookieMapper.xml"/>
        <mapper resource="mybatis/CartMapper.xml"/>
        <mapper resource="mybatis/HistoryMapper.xml"/>

    </mappers>

</configuration>