.main_product {
    height: 200px;
    margin-top: 200px;
}
.main_product h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
}
.main_product_list {
    justify-content: center;
}
.main_product_list ul li {
    margin-right: 70px;
}
.main_product_list ul li p {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}
.main_product_list img {
    width: 240px;
    height: 240px;
}
.main_product_list a {
    font-size: 20px;
    font-weight: 600;
}

.main_slider_wrap {
    height: 648px;
}
.slider {
    transition: 0.5s;
}
.slider li img {
    position: absolute;
    vertical-align: top;
}

@media (max-width: 1400px) {
    .main_product_list ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}