<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <meta name="product-code" th:content="${productCode}" />
    <meta name="member-tier"  th:content="${memberTier ?: 0}" />
    <meta name="page-type"    th:content="${pageType}" />
  <main id="product_detail_page">
    <div>
      <input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <div id="detail-container">
        <p>로딩 중...</p>
      </div>
    </div>
  </main>
    <script th:src="@{/js/productDetail.js}" nonce="${nonce}"></script>
    <script th:src="@{/js/addToCart.js}"></script>
    <script th:src="@{/js/scrollMove.js}"></script>
  </body>
</html>