<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body layout:fragment="content">
<meta name="pageType" th:content="${pageType}">
<meta name="memberTier" th:content="${memberTier}">
<main id="product_page">
  <div class="product_wrap">
    <div class="page_head">
      <a>
        <h1 th:switch="${pageType}">
          <span th:case="'bean'">원두 커피</span>
          <span th:case="'mix'">믹스 커피</span>
          <span th:case="'cafe'">카페 용품</span>
          <span th:case="'machine'">임대 머신</span>
        </h1>
      </a>
    </div>

    <div class="product">
      <ul class="center">
        <div id="product-container">
        </div>
      </ul>
    </div>
  </div>

  <div class="pagination_wrap center">
    <div class="pagination">
    </div>
  </div>
</main>
<script th:src="@{/js/productList.js}" th:nonce="${cspNonce}"></script>
</body>
</html>