<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <div class="wrapper w-100">
      <div class="flex-column align-center w-100 max-w-540">
        <img src="https://static.toss.im/lotties/error-spot-no-loop-space-apng.png" width="160" height="160" />
        <h2 class="title">결제를 실패했어요</h2>
        <div class="response-section w-100">
          <div class="flex justify-between">
            <span class="response-label">code</span>
            <span id="error-code" class="response-text" th:text="${errorCode}"></span>
          </div>
          <div class="flex justify-between">
            <span class="response-label">message</span>
            <span id="error-message" class="response-text" th:text="${errorMessage}"></span>
          </div>
        </div>
        <div class="button-group">
          <a class="payments_btn primary" th:href="@{/member/memberCart}">장바구니로 이동하기</a>
          <a class="payments_btn primary" th:href="@{/board/main}">메인화면으로 이동하기</a>
        </div>
      </div>
    </div>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <script th:src="@{/js/paymentsFailure.js}" th:nonce="${cspNonce}"></script>
  </body>
</html>