<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <main id="member_signup_page">
      <div class="member_signup_form_wrap">
        <form th:action="@{/member/memberSignUpPro}" name="f" method="post" enctype="multipart/form-data" class="member_signup_form" id="signUpForm">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <p>회원 정보</p>
          <table class="member_signup_form_info">
            <tbody>
            <tr>
              <th>
                <label for="member_id">아이디</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <input name="memberId" id="member_id" type="text" placeholder="영문 소문자만 가능, 4자리 이상, 21자리 미만" minlength="4" maxlength="20" oninput="idInputCheck(this)" spellcheck="false" required />
              </td>
            </tr>
            <tr>
              <th>
                <label for="member_name">이름</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <input name="memberName" id="member_name" type="text" placeholder="한국어만 입력 가능합니다." oninput="nameInputCheck(this)" spellcheck="false" required />
              </td>
            </tr>
            <tr>
              <th>
                <label for="member_password">비밀번호</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <input name="memberPassword" id="member_password" type="password" placeholder="영문 / 특수문자 / 숫자 중 2가지 이상 조합, 8자 이상" minlength="8" spellcheck="false" required />
              </td>
            </tr>
            <tr>
              <th>
                <label for="member_password_check">비밀번호 확인</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <input name="memberPasswordCheck" id="member_password_check" type="password" placeholder="영문 / 특수문자 / 숫자 중 2가지 이상 조합, 8자 이상" minlength="8" spellcheck="false" required />
              </td>
            </tr>
            </tbody>
          </table>
          <p>기타 정보</p>
          <table class="member_signup_form_personal_info">
            <tbody>
            <tr class="member_address_wrap">
              <th>
                <label for="member_address">주소</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <ul>
                  <li>
                    <input name="memberAddress" id="member_address" type="text" placeholder="주소 찾기 버튼을 이용해 주세요" readonly spellcheck="false" required />
                  </li>
                  <div class="member_address_button">
                    <button class="input_btn" type="button" onclick="execAddress()">주소 찾기</button>
                  </div>
                  <li>
                    <input name="memberDetailAddress" id="member_detail_address" type="text" placeholder="상세주소를 입력해주세요" spellcheck="false" required />
                  </li>
                </ul>
              </td>
            </tr>
            <tr class="member_delivery_address_wrap">
              <th>
                <label for="member_delivery_address">배송지</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <ul>
                  <li>
                    <input name="memberDeliveryAddress" id="member_delivery_address" type="text" placeholder="주소 찾기 버튼을 이용해 주세요" readonly spellcheck="false" required />
                  </li>
                  <div class="member_delivery_address_button">
                    <button class="input_btn" type="button" onclick="execDeliveryAddress()">주소 찾기</button>
                  </div>
                  <li>
                    <input name="memberDetailDeliveryAddress" id="member_detail_delivery_address" type="text" placeholder="상세주소를 입력해주세요" spellcheck="false" required />
                  </li>
                  <div class="member_delivery_address_button2">
                    <button class="input_btn" type="button" onclick="sameAddress()">주소와<br/>동일하게</button>
                  </div>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <label for="member_tel">개인 연락처</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <input name="memberTel" id="member_tel" type="tel" maxlength="11" placeholder="'-'없이 입력" oninput="maxLengthCheck(this), numberInputCheck(this)" spellcheck="false" required />
              </td>
            </tr>
            <tr>
              <th>
                <label for="member_company_name">업체명</label>
              </th>
              <td>
                <input name="memberCompanyName" id="member_company_name" type="text" placeholder="사업자 회원의 경우 꼭 넣어주세요" spellcheck="false" />
              </td>
            </tr>
            <tr>
              <th>
                <label for="member_company_tel">업체 연락처</label>
              </th>
              <td>
                <input name="memberCompanyTel" id="member_company_tel" type="tel" maxlength="11" placeholder="사업자 회원의 경우 꼭 넣어주세요" oninput="maxLengthCheck(this), numberInputCheck(this)" spellcheck="false" />
              </td>
            </tr>
            <tr class="member_email_wrap">
              <th>
                <label for="member_email">이메일</label>
                <div class="form_required">*</div>
              </th>
              <td>
                <input name="memberEmail" id="member_email" class="member_email" type="email" spellcheck="false" required />
                <div class="member_email_verify_button">
                  <button class="input_btn" type="button" th:onclick="'verifyEmail()'">인증번호 발송</button>
                </div>
              </td>
            </tr>
            <tr style="position: relative;">
              <th>
                <label>인증번호</label>
              </th>
              <td>
                <input name="verifyCode" class="verify_code" type="text" spellcheck="false" required />
                <div class="member_email_verify_button">
                  <button class="input_btn" type="button" onclick="stopCountdown()">인증하기</button>
                </div>
                <div class="remain_time">
                  <span class="countdown"></span>
                </div>
              </td>
            </tr>
            <tr>
              <th>
                <label for="file">사업자등록증 사본</label>
              </th>
              <td>
                <div class="file_input_wrap">
                  <input name="file" id="file" type="file" placeholder="사업자 회원의 경우 꼭 넣어주세요" spellcheck="false" onchange="inputFileName()" />
                  <input type="hidden" id="memberFile" name="memberFile" value="" />
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="signup">
            <input type="submit" value="회원가입" class="submit_btn" th:onclick="'return checkVerify()'" />
          </div>
        </form>
      </div>
    </main>
    <script type="text/javascript" th:inline="javascript">
      const signUpForm = document.getElementById('signUpForm');
      signUpForm.addEventListener('submit', function(event) {
        if (!passwordInputCheck(this)) {
          event.preventDefault();
        }
      });

      function sameAddress() {
        const memberAddress = document.getElementById("member_address");
        const memberDetailAddress = document.getElementById("member_detail_address");
        const memberDeliveryAddress = document.getElementById("member_delivery_address");
        const memberDetailDeliveryAddress = document.getElementById("member_detail_delivery_address");

        memberDeliveryAddress.value = memberAddress.value;
        memberDetailDeliveryAddress.value = memberDetailAddress.value;
      }

      function inputFileName() {
        const fileInput = document.getElementById("file");
        const file = fileInput.files[0];

        if (file) {
          const fileName = file.name;
          const input = document.getElementById("memberFile");
          input.value = fileName;
        }
      }

      document.getElementById("member_email").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          verifyEmail();
          document.querySelector(".verify_code").focus();
        }
      });

      document.querySelector(".verify_code").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          stopCountdown();
        }
      });
    </script>
    <script th:src="@{/js/signUpFormRequirement.js}"></script>
    <script th:src="@{/js/emailVerification.js}"></script>
  </body>
</html>