<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <main id="member_mypage_page">
      <div class="member_mypage_page_wrap">
        <div class="page_head">
          <a href="">
            <h1>마이페이지</h1>
          </a>
        </div>
        <table class="member_mypage_wrap center">
          <tbody>
          <tr>
            <td>
              <a th:href="@{/member/memberProfile}">
                회원정보 수정
                <p>
                  고객님의 회원정보를
                  <br/>
                  수정 할 수 있습니다.
                </p>
              </a>
            </td>
            <td>
              <a>
                배송 조회
                <p>
                  준비중입니다.
                </p>
              </a>
            </td>
            <td>
              <a th:href="@{/member/memberHistory}">
                주문기록 조회
                <p>
                  고객님께서 주문했던 상품 정보를
                  <br/>
                  확인 할 수 있습니다.
                </p>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>