<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <main id="member_history_page">
      <div class="member_history_page_wrap">
        <div class="page_head">
          <a href="">
            <h1>주문기록</h1>
          </a>
        </div>
        <div class="datepicker_form_wrap">
          <form th:action="@{/member/memberHistoryPro}" class="datepicker_form center" method="post">
            <input type="text" name="startDate" id="datepickerStart" class="datepicker" th:value="${startDate}" />
            <span>&nbsp~&nbsp</span>
            <input type="text" name="endDate" id="datepickerEnd" class="datepicker" th:value="${endDate}" />
            <input type="submit" value="조회" class="submit_btn" />
          </form>
        </div>
        <div class="member_cart_wrap">
          <div th:if="${historyCount < 1}">
            주문기록이 존재하지 않습니다.
          </div>
          <table class="member_cart" th:if="${historyCount >= 1}">
            <thead>
            <tr>
              <th>주문번호</th>
              <th>이미지</th>
              <th>상품정보</th>
              <th>수량</th>
              <th>금액</th>
              <th>배송지</th>
              <th>주문 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="h : ${list}">
              <td><p th:text="${h.orderId}"></p></td>
              <td class="member_cart_image">
                <img th:src="@{/files/{code}/{file}(code=${h.productCode}, file=${h.productFile})}" alt="" />
              </td>
              <td><p th:text="${h.productName}"></p></td>
              <td><p th:text="${h.quantity}"></p></td>
              <td><p th:text="${#numbers.formatInteger(h.productPrice * h.quantity, 3, 'COMMA')} + ' 원'"></p></td>
              <td>
                <p th:text="${h.deliveryAddress}"></p>
                <p th:text="${h.detailDeliveryAddress}"></p>
              </td>
              <td><p th:text="${h.orderDate}"></p></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <script th:src="@{/js/datepicker.js}"></script>
  </body>
</html>