<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <meta name="contextPath" content="${#httpServletRequest.contextPath}">
    <meta name="widgetClientKey" content="test_ck_yZqmkKeP8gNW0G14QzkBrbQRxB9l">
    <meta name="customerKey" content="${session.customerKey}">
    <meta name="totalPrice" content="${session.totalPrice}">
    <meta name="orderId" content="${session.orderId}">
    <meta name="orderName" content="${orderName}">
    <meta name="memberName" content="${member.memberName}">
    <meta name="memberTel" content="${member.memberTel}">
    <main>
      <div class="wrapper w-100">
        <div class="max-w-540 w-100">
          <div id="payment-method" class="w-100"></div>
          <div id="agreement" class="w-100"></div>
          <div class="payments_btn-wrapper w-100">
            <button id="payment-request-button" class="payments_btn primary w-100">결제하기</button>
          </div>
        </div>
      </div>
    </main>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <script th:src="@{/js/payments.js}" th:nonce="${cspNonce}"></script>
  </body>
</html>