<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <main>
      <div class="wrapper w-100">
        <div class="flex-column align-center confirm-loading w-100 max-w-540">
          <div class="flex-column align-center">
            <img src="https://static.toss.im/lotties/loading-spot-apng.png" width="120" height="120" />
            <h2 class="title text-center">결제 요청까지 성공했어요.</h2>
            <h4 class="text-center description">결제를 승인하고 완료해보세요.</h4>
          </div>
          <div class="w-100">
            <button id="confirmPaymentButton" class="payments_btn primary w-100">결제 승인하기</button>
          </div>
        </div>
        <div class="flex-column align-center confirm-success w-100 max-w-540" style="display: none;">
          <img src="https://static.toss.im/illusts/check-blue-spot-ending-frame.png" width="120" height="120" />
          <h2 class="title">결제를 완료했어요</h2>
          <div class="response-section w-100">
            <div class="flex justify-between">
              <span class="response-label">결제 금액</span>
              <span id="amount" class="response-text"></span>
            </div>
            <div class="flex justify-between">
              <span class="response-label">주문번호</span>
              <span id="orderId" class="response-text"></span>
            </div>
            <div class="flex-column align-center w-100 max-w-540">
              <div class="button-group">
                <a class="payments_btn primary" th:href="@{/board/main}">메인화면으로 이동</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" th:inline="javascript">
      const contextPath = /*[[${#httpServletRequest.contextPath}]]*/ '';
      const urlParams = new URLSearchParams(window.location.search);
      const paymentKey = urlParams.get("paymentKey");
      const orderId = urlParams.get("orderId");
      const amount = urlParams.get("amount");

      const orderIdElement = document.getElementById("orderId");
      const amountElement = document.getElementById("amount");

      const confirmLoadingSection = document.querySelector('.confirm-loading');
      const confirmSuccessSection = document.querySelector('.confirm-success');

      async function confirmPayment() {
        const requestData = {
          paymentKey: paymentKey,
          orderId: orderId,
          amount: amount
        };

        const response = await fetch(contextPath + "/member/memberPaymentsConfirm", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(requestData)
        });

        if (response.ok) {
          confirmLoadingSection.style.display = 'none';
          confirmSuccessSection.style.display = 'flex';
        }

        if (!response.ok) {
          const json = await response.json();
          console.log(json);
          window.location.href = contextPath + `/member/memberPaymentsFailure?message=${json.message}&code=${json.code}`;
        }

        const json = await response.json();
        console.log(json);
      }

      const confirmPaymentButton = document.getElementById('confirmPaymentButton');
      confirmPaymentButton.addEventListener('click', confirmPayment);

      orderIdElement.textContent = orderId;
      amountElement.textContent = amount + '원';
    </script>
  </body>
</html>