<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body layout:fragment="content">
    <main>
      <input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

      <div class="member_signin_form_wrap" th:if="${isFind == 0}">
        <form method="post" class="member_signin_form">
          <div>
            <input id="find_id" name="findType" type="radio" value="id" th:checked="${findType == 'id'}" />
            <label for="find_id">아이디 찾기</label>
            <input id="find_password" name="findType" type="radio" value="password" th:checked="${findType == 'password'}" />
            <label for="find_password">비밀번호 찾기</label>
          </div>
          <table>
            <tbody>
            <tr th:if="${findType == 'id'}">
              <th><label>이름</label></th>
              <td><input name="memberName" class="member_name" type="text" spellcheck="false" required /></td>
            </tr>
            <tr th:if="${findType == 'id'}" style="position: relative;">
              <th><label>이메일</label></th>
              <td>
                <input name="memberEmail" class="member_email" type="text" spellcheck="false" required />
                <div class="member_email_verify_button">
                  <button id="send-verify-btn" class="input_btn" type="button">인증번호 발송</button>
                </div>
              </td>
            </tr>
            <tr th:if="${findType == 'id'}" style="position: relative;">
              <th><label>인증번호</label></th>
              <td>
                <input name="verifyCode" class="verify_code" type="text" spellcheck="false" required />
                <div class="member_email_verify_button">
                  <button class="input_btn" type="button">인증하기</button>
                </div>
                <div class="remain_time"><span class="countdown"></span></div>
              </td>
            </tr>
            <tr th:if="${findType == 'password'}">
              <th><label>아이디</label></th>
              <td><input name="memberId" class="member_id" type="text" spellcheck="false" required /></td>
            </tr>
            <tr th:if="${findType == 'password'}" style="position: relative;">
              <th><label>이메일</label></th>
              <td>
                <input name="memberEmail" class="member_email" type="text" spellcheck="false" required />
                <div class="member_email_verify_button">
                  <button class="input_btn" type="button">인증번호 발송</button>
                </div>
              </td>
            </tr>
            <tr th:if="${findType == 'password'}" style="position: relative;">
              <th><label>인증번호</label></th>
              <td>
                <input name="verifyCode" class="verify_code" type="text" spellcheck="false" required />
                <div class="member_email_verify_button">
                  <button class="input_btn" type="button">인증하기</button>
                </div>
                <div class="remain_time"><span class="countdown"></span></div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="signin" style="justify-content: flex-end; margin-top: 15px;">
            <input type="submit" value="찾기" class="submit_btn" />
          </div>
        </form>
      </div>
      <div id="find-result" style="display: none; text-align: center; margin-top: 30px;">
        <p id="result-message"></p>
        <div id="id-list" style="margin: 20px 0;"></div>
        <div class="btn" style="width: 100px; height: 45px;">
          <a th:href="@{/member/memberSignIn}">로그인창으로</a>
        </div>
      </div>
    </main>
    <script th:src="@{/js/findAccount.js}" th:nonce="${cspNonce}"></script>
  </body>
</html>