<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="application.properties"/>

    <typeAliases>

        <typeAlias type="org.daCoffee.model.Product" alias="product" />
        <typeAlias type="org.daCoffee.model.Member" alias="member" />
        <typeAlias type="org.daCoffee.model.CookieDTO" alias="cookie" />
        <typeAlias type="org.daCoffee.model.Cart" alias="cart" />
        <typeAlias type="org.daCoffee.model.History" alias="history" />
        <typeAlias type="org.daCoffee.model.Image" alias="image" />

    </typeAliases>

<!--    <typeHandlers>-->
<!--        <typeHandler org.daCoffee.handler="org.daCoffee.handler.EncryptionTypeHandler"/>-->
<!--    </typeHandlers>-->

    <mappers><!-- sql 구문 -->

        <mapper resource="mybatis/ProductMapper.xml"/>
        <mapper resource="mybatis/MemberMapper.xml"/>
        <mapper resource="mybatis/CookieMapper.xml"/>
        <mapper resource="mybatis/CartMapper.xml"/>
        <mapper resource="mybatis/HistoryMapper.xml"/>
        <mapper resource="mybatis/ImageMapper.xml"/>

    </mappers>

</configuration>