<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="history">
    <resultMap type="history" id="historyMap">
        <id column="order_id" property="orderId" />
        <id column="member_tier" property="memberTier" />
        <id column="member_id" property="memberId" />
        <id column="member_name" property="memberName" />
        <id column="member_company_name" property="memberCompanyName" />
        <id column="member_fran_code" property="memberFranCode" />
        <id column="product_code" property="productCode" />
        <id column="product_grinding" property="productGrinding" />
        <id column="product_price" property="productPrice" />
        <id column="product_name" property="productName" />
        <id column="product_unit" property="productUnit" />
        <id column="quantity" property="quantity" />
        <id column="order_date" property="orderDate" />
        <id column="delivery_address" property="deliveryAddress" />
        <id column="detail_delivery_address" property="detailDeliveryAddress" />
        <id column="total_price" property="totalPrice" />
        <id column="delivery_code" property="deliveryCode" />
        <id column="history_modifier_name" property="historyModifierName" />
        <id column="history_modifier_date" property="historyModifierDate" />
    </resultMap>

    <insert id="historyInsert" parameterType="history">
        insert into order_history values (NULL, #{orderId}, #{memberTier}, #{memberId}, #{memberName}, #{memberCompanyName}, #{memberFranCode}, #{productCode}, #{quantity},
                                          0, NOW(), #{deliveryAddress}, #{detailDeliveryAddress}, #{totalPrice}, NULL, NULL, NULL)
    </insert>

    <update id="historyFranCodeUpdate" parameterType="map">
        update order_history set member_fran_code = #{memberFranCode} where member_fran_code = #{existMemberFranCode}
    </update>

    <update id="historyUpdate" parameterType="map">
        update order_history set member_fran_code = #{memberFranCode}, member_name = #{memberName}, member_company_name = #{memberCompanyName},
                                 delivery_address = #{deliveryAddress}, detail_delivery_address = #{detailDeliveryAddress}, delivery_code = #{deliveryCode},
                                 history_modifier_name = #{historyModifierName}, history_modifier_date = NOW() where product_code = #{productCode}
    </update>

    <delete id="historyDelete" parameterType="String">
        delete from history where order_id = #{orderId} and product_code = #{productCode}
    </delete>

    <select id="rownumSet" parameterType="int" resultType="int">
        set @rownum := 0
    </select>

    <select id="historyCount" parameterType="String" resultType="int">
        select count(*) from order_history
    </select>

    <select id="historyCountBetween" parameterType="map" resultType="int">
        select count(*) from order_history where member_id = #{memberId} and order_date between #{startDate} and #{endDate}
    </select>

    <select id="historyList" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by order_num desc;
    </select>

    <select id="historyListAll" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price, b.product_unit,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c;
    </select>

    <select id="historyListByHistoryCode" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by order_id;
    </select>

    <select id="historyListDescByHistoryCode" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by order_id desc;
    </select>

    <select id="historyListByMemberId" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by member_id;
    </select>

    <select id="historyListDescByMemberId" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by member_id desc;
    </select>

    <select id="historyListByProductCode" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_code;
    </select>

    <select id="historyListDescByProductCode" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_code desc;
    </select>

    <select id="historyListByProductName" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_name;
    </select>

    <select id="historyListDescByProductName" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_name desc;
    </select>

    <select id="historyListByProductUnit" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_unit;
    </select>

    <select id="historyListDescByProductUnit" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_unit desc;
    </select>

    <select id="historyListByProductPrice" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_price;
    </select>

    <select id="historyListDescByProductPrice" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by product_price desc;
    </select>

    <select id="historyListByQuantity" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by quantity;
    </select>

    <select id="historyListDescByQuantity" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by quantity desc;
    </select>

    <select id="historyListByDeliveryAddress" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by delivery_address;
    </select>

    <select id="historyListDescByDeliveryAddress" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by delivery_address desc;
    </select>

    <select id="historyListByOrderDate" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by order_date;
    </select>

    <select id="historyListDescByOrderDate" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp ) c
        where c.rownum between #{start} and #{end} order by order_date desc;
    </select>

    <select id="historySearchListByOrderDate" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp
        where order_date between #{startDate} and #{endDate} ) c
        where c.rownum between #{start} and #{end};
    </select>

    <select id="historySearchListByHistoryCode" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp
        where order_id LIKE CONCAT('%',#{searchText},'%')) c
        where c.rownum between #{start} and #{end};
    </select>

    <select id="historySearchListByMemberId" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp
        where member_id LIKE CONCAT('%',#{searchText},'%')) c
        where c.rownum between #{start} and #{end};
    </select>

    <select id="historySearchListByHistoryCodeAndMemberId" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp
        where order_id LIKE CONCAT('%',#{searchText},'%') and member_id LIKE CONCAT('%',#{searchText1},'%')) c
        where c.rownum between #{start} and #{end};
    </select>

    <select id="historySearchListByHistoryCodeWithOrderDate" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp
        where order_id LIKE CONCAT('%',#{searchText},'%') and order_date between #{startDate} and #{endDate}) c
        where c.rownum between #{start} and #{end};
    </select>

    <select id="historySearchListByMemberIdWithOrderDate" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp
        where member_id LIKE CONCAT('%',#{searchText},'%') and order_date between #{startDate} and #{endDate}) c
        where c.rownum between #{start} and #{end};
    </select>

    <select id="historySearchListByHistoryCodeAndMemberIdWithOrderDate" parameterType="map" resultMap="historyMap">
        select * from (
        select @rownum := @rownum + 1 as rownum, b.product_name, b.product_price,
        a.* from order_history a inner join product b on a.product_code = b.product_code, (select @rownum := 0) tmp
        where order_id LIKE CONCAT('%',#{searchText},'%') and member_id LIKE CONCAT('%',#{searchText1},'%') and order_date between #{startDate} and #{endDate}) c
        where c.rownum between #{start} and #{end};
    </select>

    <select id="historySelectList" parameterType="String" resultMap="historyMap">
        select order_history.*, product.product_name, product.product_unit, product.product_price
        from order_history inner join product on order_history.product_code = product.product_code order by order_num desc
    </select>

    <select id="historySelectMember" parameterType="String" resultMap="historyMap">
        select order_history.*, product.product_name, product.product_unit, product.product_price, product.product_file
        from order_history inner join product on order_history.product_code = product.product_code
        where order_history.member_id = #{memberId}
    </select>

    <select id="historySelectOne" parameterType="map" resultMap="historyMap">
        select order_history.*, product.product_name, product.product_unit, product.product_price, product.product_file
        from order_history inner join product on order_history.product_code = product.product_code
        where order_history.order_id = #{orderId} and order_history.product_code = #{productCode}
    </select>

    <select id="historySelectDate" parameterType="String" resultMap="historyMap">
        select order_history.*, product.product_name, product.product_unit, product.product_price, product.product_file
        from order_history inner join product on order_history.product_code = product.product_code
        where order_history.member_id = #{memberId} and order_history.order_date = #{date};
    </select>

    <select id="historySelectYear" parameterType="String" resultMap="historyMap">
        select order_history.*, product.product_name, product.product_unit, product.product_price, product.product_file
        from order_history inner join product on order_history.product_code = product.product_code
        where order_history.member_id = #{memberId} and DATE_FORMAT(order_history.order_date,'%Y') = DATE_FORMAT(now(), #{date});
    </select>

    <select id="historySelectMonth" parameterType="String" resultMap="historyMap">
        select order_history.*, product.product_name, product.product_unit, product.product_price, product.product_file
        from order_history inner join product on order_history.product_code = product.product_code
        where order_history.member_id = #{memberId} and DATE_FORMAT(order_history.order_date,'%Y-%m') = DATE_FORMAT(now(), #{date});
    </select>

    <select id="historySelectBetween" parameterType="map" resultMap="historyMap">
        select order_history.*, product.product_name, product.product_unit, product.product_price, product.product_file
        from order_history inner join product on order_history.product_code = product.product_code
        where order_history.member_id = #{memberId} and order_history.order_date between #{startDate} and #{endDate}
    </select>

</mapper>