<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="image">
    <resultMap type="image" id="imageMap">
        <id column="product_code" property="productCode" />
        <id column="file_name" property="fileName" />
        <id column="file_register_name" property="fileRegisterName" />
        <id column="file_register_date" property="fileRegisterDate" />
        <id column="file_modifier_name" property="fileModifierName" />
        <id column="file_modifier_date" property="fileModifierDate" />
    </resultMap>

    <insert id="insertProductImage" parameterType="image">
        insert into product_image values (#{productCode}, #{fileName}, #{fileRegisterName}, now(), null, null)
    </insert>

    <update id="updateProductImage" parameterType="image">
        update product_image set product_code = #{productCode}, file_name = #{fileName}, file_modifier_name = #{fileModifierName}, file_modifier_date = NOW()
                             where product_code = #{existProductCode})
    </update>

    <select id="selectProductImage" parameterType="map" resultMap="imageMap">
        select * from product_image where product_code = #{productCode}
    </select>

    <select id="selectDetailImage" parameterType="String" resultType="String">
        select file_name from product_image where product_code = #{productCode} and file_name like '%detail%'
    </select>

</mapper>
