<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
    <resultMap type="member" id="memberMap">
        <id column="member_id" property="memberId" />
        <id column="member_name" property="memberName" />
        <id column="member_company_name" property="memberCompanyName" />
        <id column="member_password" property="memberPassword" />
        <id column="member_tel" property="memberTel" />
        <id column="member_company_tel" property="memberCompanyTel" />
        <id column="member_address" property="memberAddress" />
        <id column="member_detail_address" property="memberDetailAddress" />
        <id column="member_delivery_address" property="memberDeliveryAddress" />
        <id column="member_detail_delivery_address" property="memberDetailDeliveryAddress" />
        <id column="member_email" property="memberEmail" />
        <id column="member_file" property="memberFile" />
        <id column="member_fran_code" property="memberFranCode" />
        <id column="member_tier" property="memberTier" />
    </resultMap>

    <insert id="memberInsert" parameterType="member">
        insert into member values (#{memberId}, #{memberName}, #{memberCompanyName}, #{memberPassword}, #{memberTel}, #{memberCompanyTel},
                                   #{memberAddress}, #{memberDetailAddress}, #{memberDeliveryAddress}, #{memberDetailDeliveryAddress}, #{memberEmail}, #{memberFile}, 0000, 0, NOW())
    </insert>

    <select id="memberList" parameterType="map" resultMap="memberMap">
        select * from member
    </select>

    <select id="memberSelectOne" parameterType="String" resultMap="memberMap">
        select * from member where member_id =  #{memberId}
    </select>

</mapper>