<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
    <resultMap  type="product" id="productMap">
        <id column="product_code" property="productCode" />
        <id column="product_type" property="productType" />
        <id column="product_name" property="productName" />
        <id column="product_price" property="productPrice" />
        <id column="product_unit" property="productUnit" />
        <id column="product_country" property="productCountry" />
        <id column="product_species" property="productSpecies" />
        <id column="product_company" property="productCompany" />
        <id column="product_file" property="productFile" />
        <id column="product_visible" property="productVisible" />
    </resultMap>

    <insert id="productInsert" parameterType="product">
        insert into product values (#{productCode}, #{productType}, #{productName}, #{productPrice}, #{productUnit}, #{productCountry},
                                    #{productSpecies}, #{productCompany}, 0, #{productFile})
    </insert>

    <select id="productLeaseCount" parameterType="map" resultType="int">
        select count(*) from product where product_visible = 1 and product_tier = 1
    </select>

    <select id="productCount" parameterType="map" resultType="int">
        select count(*) from product where product_visible = 1 and product_tier = 2
    </select>

    <select id="productSet" parameterType="int" resultType="int">
        set @rownum := 0
    </select>

    <select id="productLeaseList" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_tier = "1" and product_visible = "1" order by product_code ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productList" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_tier = "2" and product_visible = "1" order by product_code ) b
        where b.rownum between #{start} and #{end};
    </select>

</mapper>