<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
    <resultMap type="product" id="productMap">
        <id column="product_code" property="productCode" />
        <id column="product_type" property="productType" />
        <id column="product_name" property="productName" />
        <id column="product_price" property="productPrice" />
        <id column="product_unit" property="productUnit" />
        <id column="product_country" property="productCountry" />
        <id column="product_species" property="productSpecies" />
        <id column="product_company" property="productCompany" />
        <id column="product_tier" property="productTier" />
        <id column="product_file" property="productFile" />
    </resultMap>

    <insert id="productInsert" parameterType="product">
        insert into product values (#{productCode}, #{productType}, #{productName}, #{productPrice}, #{productUnit}, #{productCountry},
                                    #{productSpecies}, #{productCompany}, 0, #{productFile})
    </insert>

    <delete id="productDelete" parameterType="String">
        delete from product where product_code = #{productCode}
    </delete>

    <select id="productCountByTier" parameterType="map" resultType="int">
        select count(*) from product where product_tier = #{memberTier}
    </select>

    <select id="productCount" parameterType="map" resultType="int">
        select count(*) from product
    </select>

    <select id="productListAll" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_code ) b;
    </select>

    <select id="productSelectOne" parameterType="String" resultMap="productMap">
        select * from product where product_code = #{productCode}
    </select>

    <select id="productSearchCountByTier" parameterType="map" resultType="int">
        select count(*) from product where product_tier = #{memberTier} and product_name LIKE CONCAT('%',#{searchText},'%')
    </select>

    <select id="productSearchCount" parameterType="String" resultType="int">
        select count(*) from product where product_name LIKE CONCAT('%',#{searchText},'%')
    </select>

    <select id="rownumSet" parameterType="int" resultType="int">
        set @rownum := 0
    </select>

    <select id="productListByMemberTier" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_tier = #{memberTier} order by product_code ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchList" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_name LIKE CONCAT('%',#{searchText},'%') order by product_code) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByMemberTier" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_tier = #{memberTier}
        and product_name LIKE CONCAT('%',#{searchText},'%') order by product_code) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductCode" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_code LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductName" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_name LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductType" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_type LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductPrice" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_price LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductUnit" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_unit LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductCountry" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_country LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductSpecies" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_species LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductCompany" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_company LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productSearchListByProductTier" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        where product_tier LIKE CONCAT('%',#{searchText},'%')) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productList" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_code ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDesc" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_code desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductCode" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_code ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductCode" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
       order by product_code desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductType" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_type ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductType" parameterType="map" resultMap="productMap">
        select * from (
        select @rowrownum := @rowrownum + 1 as rowrownum,
        a.* from product a, (select @rowrownum := 0) tmp
        order by product_type desc ) b
        where b.rowrownum between #{start} and #{end};
    </select>

    <select id="productListByProductName" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_name ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductName" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_name desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductPrice" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_price ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductPrice" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
         order by product_price desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductUnit" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_unit ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductUnit" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_unit desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductCountry" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_country ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductCountry" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_country desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductSpecies" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_species ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductSpecies" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_species desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductCompany" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_company ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductCompany" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_company desc ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListByProductTier" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_tier ) b
        where b.rownum between #{start} and #{end};
    </select>

    <select id="productListDescByProductTier" parameterType="map" resultMap="productMap">
        select * from (
        select @rownum := @rownum + 1 as rownum,
        a.* from product a, (select @rownum := 0) tmp
        order by product_tier desc ) b
        where b.rownum between #{start} and #{end};
    </select>

</mapper>