<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>

        <!-- 회원관련 -->
        <typeAlias type="model.product" alias="product" />

    </typeAliases>

    <mappers><!-- sql 구문 -->

        <mapper resource="mybatis/mybatis-config.xml>

    </mappers>

</configuration>