<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon" />
    <title>다올커피 - 관리자페이지</title>
    <link rel="stylesheet" th:href="@{/css/reset.css(v=1.0)}" />
    <link rel="stylesheet" th:href="@{/css/datepicker.css(v=1.0)}" />
    <link rel="stylesheet" th:href="@{/css/font.css(v=1.0)}" />
    <link rel="stylesheet" th:href="@{/css/common.css(v=1.1)}" />
    <link rel="stylesheet" th:href="@{/css/form.css(v=1.0)}" />
    <link rel="stylesheet" th:href="@{/css/admin.css(v=1.0)}" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/daumAddress.js}"></script>
    <script th:src="@{/js/searchSubmit.js}"></script>
    <script th:src="@{/js/fileSystem.js}"></script>
    <script th:src="@{/js/index.js}"></script>
  </head>
  <body>
    <div th:replace="~{fragments/adminHead :: adminHeader}"></div>
    <div layout:fragment="content"></div>
  </body>
</html>